<!DOCTYPE html>
<html>
  <head>
    <title>Daleship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/internal/assets" %>

  </head>

  <body>
  <%= render 'layouts/internal/nav' %>
    <div style="margin-left: 75px; margin-right: 75px">
      <%= yield %>
    </div>
  </body>
</html>
