<!DOCTYPE html>
<html>
  <head>
    <title>Daleship</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/internal/assets" %>

  </head>

  <body>
  <%= render 'layouts/internal/nav' %>
  <%= yield %>
  </body>
</html>
